<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>X-Plan</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>login.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginToMenu</display-name>
    <servlet-name>LoginToMenu</servlet-name>
    <servlet-class>serverlet.LoginToMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginToMenu</servlet-name>
    <url-pattern>/LoginToMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginToRegister</display-name>
    <servlet-name>LoginToRegister</servlet-name>
    <servlet-class>serverlet.LoginToRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginToRegister</servlet-name>
    <url-pattern>/LoginToRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBToWeb</display-name>
    <servlet-name>DBToWeb</servlet-name>
    <servlet-class>serverlet.DBToWeb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBToWeb</servlet-name>
    <url-pattern>/DBToWeb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>serverlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterToDetails</display-name>
    <servlet-name>MasterToDetails</servlet-name>
    <servlet-class>serverlet.MasterToDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterToDetails</servlet-name>
    <url-pattern>/MasterToDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveNote</display-name>
    <servlet-name>SaveNote</servlet-name>
    <servlet-class>serverlet.SaveNote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveNote</servlet-name>
    <url-pattern>/SaveNote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveNoteDetails</display-name>
    <servlet-name>SaveNoteDetails</servlet-name>
    <servlet-class>serverlet.SaveNoteDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveNoteDetails</servlet-name>
    <url-pattern>/SaveNoteDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginTypeCheck</display-name>
    <servlet-name>LoginTypeCheck</servlet-name>
    <servlet-class>serverlet.LoginTypeCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginTypeCheck</servlet-name>
    <url-pattern>/LoginTypeCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterNUserInfo</display-name>
    <servlet-name>AlterNUserInfo</servlet-name>
    <servlet-class>serverlet.AlterNUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterNUserInfo</servlet-name>
    <url-pattern>/AlterNUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotNumUp</display-name>
    <servlet-name>HotNumUp</servlet-name>
    <servlet-class>serverlet.HotNumUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotNumUp</servlet-name>
    <url-pattern>/HotNumUp</url-pattern>
  </servlet-mapping>
</web-app>